.navList {
  display: flex;
  gap: 28px;
  margin-left: 390px;
}

.navLink {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color-black);
}
.navLink:hover {
  color: var(--primary-color-yellow);
  font-weight: 500;
}
.active {
  color: var(--secondary-color-yellow);
  font-weight: 500;
}
